@keyframes turn_animation {
    from {
        transform: rotateY(0deg);
    }
    
    to {
        transform: rotateY(180deg);
    }
}

@keyframes reversed_animation {
    from {
        transform: rotateY(180deg);
    }
    
    to {
        transform: rotateY(0deg);
    }
}

.memory-card {
  perspective: 1000px;
}

.card-inner {
  transform-style: preserve-3d;
}

.reveal-card {
  animation: turn_animation 0.5s ease forwards;
  cursor: default;
}

.reveal-card button {
  cursor: default;
}

.conceal-card {
  animation: reversed_animation 0.5s ease forwards;
}

.card-front,
.card-back {
  position: relative;
  inset: 0;
  backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}